*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  
  overflow: hidden;
  background-image: url(./assets/img/slide1.jpg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh ;
}
